.help {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--grey-200);
}

.help__title,
.help__introduction {
  margin-bottom: 1.6rem;
}

.help__title {
  font-size: 2.4rem;
}

.help__introduction {
  font-size: 1.6rem;
}

.help__box {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: var(--white);
}

.help__link {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: underline;
  color: var(--blue);
}

.help__link:hover {
  color: var(--red);
}

.help__link.btn {
    margin-right: 0;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--red);
}

.help__link.btn:hover {
  color: var(--white);
  background-color: var(--black);
}